.footer{
  
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        background-image: url("/img/footer.webp");
        background-repeat:no-repeat;
        background-size:100% 100%;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35%;
    }
    &__svg-logo{
        cursor: pointer;
        padding: 1px;
        &:active{
            background-color: #DA6D97;

        }
    }

    &__svg{
        margin-left: 120px;
    }
    &__info{
        display: flex;
        justify-content: space-evenly;
    }
}

.container{
    width: 1140px;
    margin: 0 auto;
}